# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
.build/
*.o
*.d
*.swp
*~.nib
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
*.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V3
.Trashes

# Env / secrets
.env
*.pem

# Mockups (local only)
mockup/
